.start__now {
    height: auto;
    margin-bottom: 140px;
}

.btn__s {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
}

.btn__s .btn-primary {
    margin-right: 20px;
}

@media screen and (max-width: 1100px) {
    .services__wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 8rem;
        margin-bottom: 100px;
    }
}
@media screen and (max-width: 992px) {
    .container {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    .topbar .company__logo {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .features .card__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2.5rem;
    }
    .btn__s .btn-primary {
        margin-right: 0;
    }
    .btn__s {
        grid-auto-flow: row;
    }

    .btn__s a {
    }
}

@media screen and (max-width: 576px) {
    .features .card__wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2.5rem;
    }
}

@media screen and (max-width: 350px) {
}
