.support {
    display: grid;
    grid-template-columns: 500px 1fr;
    grid-gap: 2rem;
    margin-top: 140px;
    margin-bottom: 140px;
    align-items: center;
}

.support .support__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
}

.support .internal__card {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 25px;
}

.single__card {
    display: flex;
    align-items: center;
}

.support .card {
    padding: 32px;
}

@media screen and (max-width: 1200px) {
    .support {
        display: grid;
        grid-template-columns: 1fr;
    }

    .support .support__content {
        margin-top: 2rem;
    }
}
@media screen and (max-width: 1100px) {
    .support {
        display: grid;
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 992px) {
    .container {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
    .support .support__content {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 25px;
    }
}

@media screen and (max-width: 768px) {
    .support__content {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 25px;
    }
}

@media screen and (max-width: 576px) {
}

@media screen and (max-width: 350px) {
}
