.topbar {
    margin-top: 86.2px;
    margin-bottom: 100px;
}

.topbar .content {
    text-align: center;
}
h1.section__title {
    font-size: 60px;
    font-weight: 700;
    line-height: 72px;
    margin-bottom: 14px;
    color: #151531;
}

p.section__p {
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
    color: rgba(21, 21, 49, 0.8);
    margin-bottom: 40.59px;
    /* width: 437px; */
}

.hero-img {
    margin-top: 60px;
    width: 100%;
}

.topbar .medium-title {
    margin-top: 125px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.topbar .company__logo {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    margin-left: 176px;
    margin-right: 176px;
}

@media screen and (max-width: 1100px) {
    .topbar .company__logo {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
}
@media screen and (max-width: 992px) {
    .container {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    .topbar .company__logo {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .topbar .company__logo {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 576px) {
    .topbar .company__logo {
        grid-template-columns: 1fr;
    }
}
